
/*Body*/

body {
    margin:0;
    padding:0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(../images/dust_scratches.png);
 }

 /*Headers*/

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    width: 100%;
    border-color: #cccccc;
}

h1 {
    background-color: #4aaaa5;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 300px;
    font-size: xx-large;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

}

h2 {
    border-bottom: solid #dddddd 2px;
    font-size: x-large;
}

h2, h3, h4, h5 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}

h3, h4, h5 {
    font-size: xx-large;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-bottom-width: 3px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.pagelinks {
    margin-top: -75px;
    margin-right: 250px;
    padding-bottom: 50px;
    font-size: 20px;
    float: left;
    position: relative;
    left: 69%;
}

.links {
    text-decoration: none;
    color: #777777;
    padding-right: 15px;
    padding-left: 15px;
}

/*Containers*/

.container {
    border-top-style: solid;
    border-top-width: 1.5px;
    border-color: #777777;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#sidebar {
    width: 270px;
    height: 200px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background: white;
    float: left;
    margin-right: 10%;
    padding: 40px;
    position: relative;
    left: 66%;
    top: -625px;
}

#sidebar2 {
    width: 270px;
    height: 200px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background: white;
    float: left;
    margin-right: 10%;
    padding: 40px;
    position: relative;
    left: 66%;
    top: -885px;
}

#sidebar3 {
    width: 270px;
    height: 200px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background: white;
    float: left;
    margin-right: 10%;
    padding: 40px;
    position: relative;
    left: 66%;
    top: -625px;
}


#contentarea1 {
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    width: 650px;
    height: 600px;
    background-color: white;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 0 auto;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

#contentarea2 {
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    width: 650px;
    height: 860px;
    background-color: white;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 0 auto;;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

#contentarea3 {
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    width: 650px;
    height: 610px;
    background-color: white;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

/*Images*/

#socialmedia1, #socialmedia2, #socialmedia3 {
    height: 80px;
    width: 80px;
    padding-bottom: 20%;
    padding-top: 40px;
    padding-left: 0;
}

#socialmedia1:hover, #socialmedia2:hover, #socialmedia3:hover {
    width: 85px;
    height: 85px;
} 

#mypicture {
    height: 150px;
    width: 200px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;

}

/*Portfolio Page*/


#hangman, #trivia, #rockpaperscissors, #rpggame, #rutgers {
    margin-top: 40px;
    height: 210px;
    width: 270px;
    float: left;
}

#trivia, #rutgers {
    margin-left: 100px;
}
#hangman {
    background-image: url(../images/hangman.jpg);
}

#trivia {
    background-image: url(../images/triviagame.jpg);
}

#rockpaperscissors {
    background-image: url(../images/rockpaperscissors.jpg);
}

#rpggame {
    background-image: url(../images/rpggame.jpg);
}

#rutgers {
    background-image: url(../images/rutgersinfowidget.jpg);
}



.portfoliotext {
    width: 80%;
    background-color: #4aaaa5;
    color: white;
    margin-top: 52%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;

}


/*Form*/

form {
    height: 500px;
    padding-top: 20px;
}

.smallforms {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    
}

#largeform {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    height: 40%;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    resize: vertical;
    border-style: hidden;
    width: 120px;
    height: 40px;
}

input[type=submit]:hover {
    background-color: cadetblue;
}


/*Footer*/

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    clear: both;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 6px;
    padding-top: 30px;

}


li {
    list-style-type: none;
    display: inline-block;
}

p {
    line-height: 1.5;

}

.aboutme {
    padding-top: 20px;
    font-size: 20px;
}

/*Media Queries*/

@media screen and (max-width: 980px) {
    #contentarea1 {
        width: 300px;
        height: 720px;
    }

    #contentarea3  {
        width: 380px;
        height: 560px;
    }

    #sidebar {
        width: 200px;
        height: 150px;
        top: -740px;
    }

    #sidebar3 {
        width: 200px;
        height: 150px;
        top: -580px;
    }

    #socialmedia1, #socialmedia2, #socialmedia3 {
        width: 50px;
        height: 50px;
    }

    #mypicture {
        width: 250px;
        height: 190px;
        margin-bottom: 10px;
    }

    h1 {
        width: 170px;
        font-size: large;
    }

    h2 {
        font-size: large;
    }

    h3, h4, h5 {
        font-size: x-large;
    }

    .pagelinks {
        font-size: 16px;
    }

    .aboutme {
        font-size: 16px;
   
    }






@media and screen (max-width: 768px) {


}




@media and screen (max-width: 640px) {


}